{{define "header"}}
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{$.Title}} | Gomall</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>

        <header class="p-3 text-bg-dark">
            <div class="container">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img"
                            aria-label="Bootstrap"><use
                                xlink:href="#bootstrap"></use></svg>
                    </a>

                    <ul
                        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#" class="nav-link px-2 text-secondary"
                                data-relingo-block="true"
                                data-relin-paragraph="18">Home</a></li>
                        <li class="dropdown">
                            <a
                                class="nav-link px-2 text-secondary  text-white dropdown-toggle"
                                href="#"
                                role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        href="#">Category 1</a></li>
                                <li><a class="dropdown-item" href="#">Category
                                        2</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something
                                        else here</a></li>
                            </ul>

                            <li><a href="#" class="nav-link px-2 text-white"
                                    data-relingo-block="true"
                                    data-relin-paragraph="22">About</a>
                            </li>
                        </ul>

                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
                            role="search">
                            <input type="search"
                                class="form-control form-control-dark text-bg-dark"
                                placeholder="Search..." aria-label="Search">
                        </form>
                        {{if .user_id }}
                        
                        <div class="ms-3 mb-3 mb-lg-0 me-lg-3">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>

                        <div class="ms-3 mb-3 mb-lg-0 me-lg-3 dropdown">
                            <div class="dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item"
                                            type="button">Profile</button></li>
                                    <li>
                                        <form action="/auth/sign-out" method="post">
                                            <button class="dropdown-item" type="submit">
                                                Sign out
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{else}}
                        <div class="text-end" data-relingo-block="true"
                            data-relin-paragraph="23">
                            <a type="button"
                                class="btn btn-warning me-2"
                                href="/sign-in">Sign-in</a>
                            <!-- <button type="button"
                        class="btn btn-warning">Sign-up</button> -->
                        </div>
                        {{end}}
                    </div>
                </div>
            </header>
            {{end}}
